.cart h1 {
    margin: 20px auto;
    width: fit-content;
}
.cart h1 span {
    color: var(--sky-color);
}
.container {
    display: flex;
    align-items:start;
    justify-content: center;
    gap: 30px;
}
.product {
    width: 70%;
}
.list{
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid var(--sky-color);
}  
.image {
    position: relative;
    width: 100px;
    height: 100px;
}
.text h4 {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0;
}
.text span {
    font-size: 14px;
    color: #9c9c9c;
}
.button {
    display: flex;
    align-items: center;
    gap: 10px;
}
.button button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    font-size: 20px;
    background-color: var(--sky-color);
    color: var(--foreground);
    cursor: pointer;
}
.delete {
    font-size: 22px;
    cursor: pointer;
    color: red;
}
.checkout {
    width: 25%;
    height: fit-content;
    padding: 0 10px;
    border: 2px solid var(--sky-color);
    border-radius: 10px;
    margin: 0 0 20px;
}
.checkout h2 { 
    margin: 20px 0;
}
.checkout p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #acacac;
    font-size: 14px;
    margin: 10px 0;
}
.checkout p span {
    color: #000;
    font-weight: bold;
}
.checkout h3 {
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout h3::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--background);
}
.checkout h3 span {
    color: var(--sky-color);
}
.checkout button {
    padding: 10px 0;
    width: 100%;
    border: none;
    margin: 10px 0 0;
    background-color: var(--sky-color);
    color: var(--foreground);
    border-radius: 4px;
    cursor: pointer;
    transition: var(--main-transition) ease;
}
.checkout button:hover {
    background-color: var(--background);
}
.checkout div {
    margin: 20px 0;
}
@media (max-width: 992px) {
    .container {
        flex-wrap: wrap;
    }
    .product {
        width: 100%;
        order: 2;
    }
    .checkout {
        width: 100%;
        order: 1;
    }
}
@media (max-width: 500px) {
    .image {
        width: 50px;
        height: 50px;
    }
    .text h4 {
        font-size: 16px;
    }
    .text span {
        font-size: 12px;
    }
}