.form {
    margin: 50px auto;
    width: 500px;
    padding: 40px;
    border: 2px solid var(--sky-color);
    border-radius: 10px;
}
.form h2 {
    margin: 0 0 20px;
}
.form textarea,
.form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 2px solid #000;
    transition: var(--main-transition);
    outline: none;
}
.form textarea:focus,
.form input:focus {
    border-color: var(--sky-color);
}
.form label {
    display: block;
    color: #7a7a7a;
}
.form textarea {
    resize: none;
}
.form a {  
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--background);
    color: var(--foreground);
    border-radius: 5px;
    margin: 30px 0 0;
}
@media (max-width: 600px) {
    .form {
        width: 90%;
    }
}