.container {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.image {
    position: relative;
    height: 400px;
    width: 40%;
}
.text {
    width: 45%;
}
.text h2 {
    font-size: 25px;
    margin: 10px 0;
}
.text p {
    color: #7a7a7a;
}

@media (max-width: 992px) {
    .text {
        width: 100%;
    }
    .container {
        flex-wrap: wrap;
    }
}
@media (max-width: 500px) {
    .image {
        height: 200px;
    }
}