.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
}
.image {
    width: 40%;
    text-align: center;
    position: relative;
    box-shadow: 0 0 20px 1px #000;
    overflow: hidden;
    border-radius: 15px;
}
.image img {
    transition: var(--main-transition);
}
.image img:hover {
    transform: scale(1.1);
}
.image div {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: -200%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 98;
    transition: var(--main-transition) ease-in-out;
}
.image div img {
    box-shadow: 0 0 10px 0 #000;
    cursor: pointer;
    transition: var(--main-transition);
}
.image div img:hover {
    transform: scale(1.1);
}
.image:hover div {
    right: 10px;
}
.text {
    width: 40%;
}
.text h3 {
    margin: 10px 0;
    font-size: 14px;
}
.text p {
    margin: 15px 0;
    font-size: 16px;
    color: #7a7a7a;
}
.text h3 span {
    color: var(--sky-color);
}
.text h4 {
    margin: 5px 0 10px;
    font-size: 25px;
}
.text h4 span {
    font-size: 18px;
}
.text button {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--sky-color);
    color: var(--foreground);
    transition: var(--main-transition);
    cursor: pointer;
}
.text button:hover {
    background-color: var(--background);
}
@media (max-width: 992px) {
    .container  {
        flex-wrap: wrap;
    }
    .image {
        width: 100%;
    }   
    .text {
        margin: 30px auto;
        width: 100%;
    }
}
@media (max-width: 500px) {
    .image img {
        width: 100%;
    }
}