.header {
    background-color: var(--background);
    padding: 10px 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.logo {
    font-size: 40px;
}
.container nav svg {
    font-size: 25px;
    cursor: pointer;
}
.barIcon,
.xmarkIcon {
    display: none;
}
.list {
    display: flex;
    align-items: center;
    gap: 60px;
    z-index: 100;
}
.list svg {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
}
.navLogo {
    font-size: 30px;
    margin: 30px 0 20px;
    display: none;
}
.login {
    padding: 4px 15px;
    border-radius: 5px;
    background-color: var(--foreground);
    color: var(--background);
    transition: var(--main-transition);
}
.login:hover {
    background-color: #ffffff90;
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
}
.cart span {
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 100%;
    background-color: var(--sky-color);
    top: -10px;
    left: 50px;
    font-size: 12px;
}
@media (max-width: 992px) {
    .navLogo,
    .barIcon,
    .xmarkIcon {
        display: block;
    }
    .list {
        position: fixed;
        top: 0;
        right: -200%;
        bottom: 0;
        width: 400px;
        background-color: var(--background);
        flex-direction: column;
        gap: 50px;
        box-shadow: 10px 10px 10px 10px #000;
        transition: 0.5s ease-in-out;
        order: 3;
    }
    .list.active {
        right: 0;
    }
    .barIcon {
        order: 1;
    }
}

@media (max-width: 500px) {
    .list {
        width: 100%;
    }
    .container h1 {
        font-size: 25px;
    }
    .cart {
        font-size: 14px;
    }
}