.link {
    position: relative;
}
.link::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: var(--foreground);
    transition: var(--main-transition) ease-in-out;
}
.active::after,
.link:hover::after {
    width: 100%;
}