:root {
  --background: #0d4862;
  --foreground: #ffffff;
  --sky-color: #2b97c6;
  --main-transition: 0.3s;
}
html,
body {
  max-width: 100vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
    width: 90%;
    margin: auto;
}
