.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
    text-align: center;
    overflow-x: auto;
}
.cart {
    position: relative;
    border: 2px double var(--sky-color);
    border-radius: 5px;
    padding: 15px;
    height: 450px;
}
.cart img {
    transition: var(--main-transition);
    cursor: pointer;
}
.cart img:hover {
    transform: scale(1.1);
}
.cart h3 {
    color: var(--sky-color);
}
.cart p {
    margin: 10px 0;
    font-size: 12px;
}
.price {
    display: flex;
    gap: 5px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: var(--background);
}
.price span {
    font-size: 18px;
}
.buttons {
    position: absolute;
    bottom: 5px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons button {
    background-color: var(--sky-color);
    color: var(--foreground);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}
.buttons button:hover {
    background-color: var(--background);
}
.buttons a {
    transition: var(--main-transition);
}
.buttons a:hover {
    text-decoration: underline;
}