.title {
    position: relative;
    width: fit-content;
    padding: 10px 0;
}
.title::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 90%;
    height: 3px;
    background-color: var(--sky-color);
}