.pagination {
    margin: 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.pagination a {
    padding: 6px 15px;
    border-radius: 4px;
    background-color: var(--sky-color);
    color: var(--foreground);
    transition: var(--main-transition);
}
.pagination a:hover {
    background-color: var(--background);
}
.pagination span {
    color: var(--sky-color);
    font-size: bold;
}